
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #238061;

$color-secondary: rgb(4, 74, 121);
$color-secondary-light: rgb(8, 117, 189);
$color-secondary-dark: rgb(4, 52, 85);

$color-tertriary: #d81b1b;
$color-tertriary-light: #db6262;
$color-tertriary-dark:#971a1a ; 

$color-quaternary: rgb(156, 156, 156);
$color-quaternary-light: rgb(204, 201, 201);
$color-quaternary-dark: rgb(117, 117, 117);

$color-white: #fff;
$color-black: black;
$color-grey-light-1: #eff3f29d;
$color-grey-light-3: #e0c49a9d;
$color-grey-light-2: #eee;
$color-grey-dark-1: rgb(94, 92, 92);
$color-grey-dark-2: rgb(58, 57, 57);



$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-huge: 9rem;

$gutter-horizontal: 2vw;



$default-font-size: 1.6rem;