.feature-box {
    
    word-wrap: break-word;
    background-color: rgba($color-white, .8);
    font-size: 1.6rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 2rem 4rem rgba($color-black , $alpha: .3);
    @include respond(tab-port) {    
        margin-bottom: -7rem;
    }
    -webkit-transition: all 2s;
    &:hover {
        transform: translateY(5px) scale(1.05);
        transition: all .2s;
    }
    &__icon {
        font-size: 4rem;
        margin-bottom: 5px;
        background-image: linear-gradient(to right, $color-quaternary-light, $color-quaternary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    // &__text {
    @include respond(tab-port) {
        font-size: 2rem;
    }

    // }
}